.explore-links{style: 'margin-top: 20px;'}
	= link_to '/#!/explore/stream', style: 'text-decoration: none;' do
		= image_tag 'explore_links/stream.png', style: 'height: 50px;margin: 10px;'
	= link_to '/#!/explore/treemap', style: 'text-decoration: none;' do
		= image_tag 'explore_links/treemap.png', style: 'height: 50px;margin: 10px;'
	= link_to '/#!/explore/datamap', style: 'text-decoration: none;' do
		= image_tag 'explore_links/datamap.png', style: 'height: 50px;margin: 10px;'