#annotations_block.static
  .bedrooms.field-block{style: 'display:none'}
    %label.posting-field-label Bedrooms:
    = select_tag 'bedrooms', options_for_select((1..20).to_a.map {|num| num.to_s + 'br'}), style: 'width:60px;'

  .start_year.field-block{style: 'display:none; float:left;'}
    %label.posting-field-label Year:
    = select_tag 'start_year', options_for_select((1900..2013).to_a), style: 'width:60px;'
    &nbsp;    
  .end_year.field-block{style: 'display:none; float:left;'}    
    = select_tag 'end_year', options_for_select((1900..2013).to_a), style: 'width:60px;'

  .age.field-block{style: 'display:none'}
    %label.posting-field-label Age:
    = select_tag 'age', options_for_select((7..90).to_a), style: 'width:60px;'

  .sex.field-block{style: 'display:none'}
    %label.posting-field-label Sex:
    = select_tag 'sex', options_for_select(['Male', 'Female']), style: 'width:60px;'

  -# vin was here!
  - %w(phone sqft make model personal_flavor compensation).each do |type|
    %div.field-block{class: type, style: 'display:none'}
      %label.posting-field-label #{type.capitalize}:
      %input{name: type, type: 'text'}

  - %w(partTime cats dogs telecommute contract internship nonprofit scheduling).each do |type|
    %div.field-block{class: type, style: 'display:none'}
      %label.posting-field-label #{handle_annotations_with_custom_label(type).capitalize}:
      = check_box_tag type, 'YES'
.ac_results