.background
  -#.messageline{ :style => "z-index:10;" }
    -#= message_tag
.root-wrapper
  .banner_div
    .messageline= message_tag
  .search_form_div
    .logo
      .beta beta
      = logo_tag
    .tagline= slogan_teg
    = render "components/jeboom_searchbar"
    = render "components/explore_links"
- cache('footer') do
  = render 'shared/landing_page_footer'

