-# TODO: change to relative links once site moves to 3taps.com
.links
  = link_to 'FAQ', 'http://3taps.com/faq', :target => '_blank'
  .divider= "|"
  = link_to 'help', 'http://3taps.com/help', :target => '_blank'
  .divider= "|"
  = link_to 'terms', 'http://3taps.com/terms', :target => '_blank'
  .divider= "|"
  = link_to 'privacy', 'http://3taps.com/privacy', :target => '_blank'
  .divider= "|"
  = link_to 'status', 'http://twitter.com/craiggersstatus', :target => '_blank'
