.footer
  %div{style: 'float:left; margin-top:8px;'}
    - @summary_by_sources.each do |source|
      %span{style: 'color:white; margin-left: 10px; font-weight:bold;'} #{source[:name]}:
      %span #{source[:last]},
      %span #{source[:matches]}

    %span{style: 'color:white; margin-left: 10px; font-weight:bold;'} TOTAL:
    %span #{@total}

  .taps= link_to image_tag('poweredby3taps-root-smwhite.png'), 'http://3taps.com', :target => '_blank'
  .version= ENV['APP_VERSION']

  - if current_domain['name'] != 'jeboom'
    = render :partial => 'shared/footer_links'
