{{#if favorited}}
<div class="favorite favorited"></div>
{{else}}
<div class="favorite"></div>
{{/if}}
<div class="heading">
    {{{ heading }}}
</div>
<a class="origin_link" href='{{ external_url }}' target='_blank'> {{ external_url }}</a>
<div class="data hr">
    <div class="timestamp">{{ clienttime }}</div>
    <div class="contact">
        reply to:
        {{#if source_account}}
        <a href='mailto:{{ source_account }}'>{{ source_account }}</a>
        {{else}}
        see below
        {{/if}}
    </div>
    <div class="share">
        <!---#%a#message-me{ :href => '#', :target => '_blank' }-->
        <!---# %img{ :src => 'http://cdn.anoni.com/images/messageme.png' }-->
        <div class="share-link twitter">
            <div>
                <a class="twitter-share-button" href='{{ twitter }}'>
                    <%=image_tag 'twitter-share-icon.png'%>
                </a>
            </div>
        </div>

        <div class="share-link facebook">
            <a href='{{ facebook }}' target='_blank'>
                <%= image_tag 'facebook-share-icon.gif'%>
            </a>
        </div>
        <a class="share-link email" href='#emailpopup'> email</a>
    </div>
</div>
<div class="annotations hr">

    <table class="annotations_table">
        <tr>
            <td>
                {{> _annotations}}
            </td>
            <td>
                <div class="price">{{#if format_price}}${{ format_price }}{{/if}}
                    <br/>
                    <br/>
                    {{#if has_apts_housing}}
                    <iframe id="rentvalet_iframe" name="rentvalet_iframe"
                            src="/widget/rentvalet?contact={{accountName}}&address={{location_path}}&rent={{price}}&url={{url}}"
                            width="98" height="84" align="top" scrolling="no"> Browser doesn't support
                        iframes
                    </iframe>
                    {{/if}}
            </td>
        </tr>
    </table>
</div>
<div class="images hr">
</div>
<div class="body hr">{{{ body }}}</div>

{{#if has_original_map_links}}
<div class="original_map_links">
    <div class="map_link">
        {{#if original_map_google}}
        <a href="{{ original_map_google }}" target="_blank">google map</a>
        {{/if}}
    </div>
    <div class="map_link">
        {{#if original_map_yahoo}}
        <a href="{{ original_map_yahoo }}" target="_blank">yahoo map</a>
        {{/if}}
    </div>
</div>
{{/if}}
<div class="view-comments"></div>
<hr>
<table class="publicdomain">
    <tr>
        <td>
            <a href='http://creativecommons.org/publicdomain/mark/1.0/'>
                <div class="image">
                    <img src='/assets/publicdomain.png' height="40"/>
                </div>
            </a>
        </td>
        <td class="disclaimer">
            This work ({{{ heading }}} by {{ accountName }}),
            identified by craigslist, is free of known copyright restrictions.
        </td>
    </tr>
</table>
<div class="poweredby3taps">
    <a href="http://3taps.com" target="_blank">
        <img src="/assets/poweredby3taps.png"/>
    </a>
</div>
