!!!
%html
  %head
    %title= current_domain['title']
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8' }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"}
    %meta{ :name => "apple-mobile-web-app-capable", :content => "yes"}
    = stylesheet_link_tag    "spec_runner"
    = javascript_include_tag "spec_runner"
    = csrf_meta_tag
    %link{:href => "/assets/jeboom-icon.png", :rel => "shortcut icon", :type => "image/vnd.microsoft.icon"}
  %body
    #content
      = yield
